# Docker & Environment
.env
/.dockerignore

# .NET (sotagapi and tests)
[Bb]in/
[Oo]bj/
*.nupkg
*.suo
.vs/
.vscode/

# Angular (sotagui)
/sotagui/node_modules
/sotagui/dist
/sotagui/tmp
/sotagui/coverage

# OS & Other files
.DS_Store